<style>

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.pie_label {
  font-size: 12px;
}
.pie_stat{
  font-size: 20px;
  font-weight: bold;
}

</style>


<div class="row">
  <div class="col-md-4">
    <%= render partial: "/visualizations/pies/pie1" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/pies/pie2" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/pies/pie3" %>
  </div>
</div>
<hr>